[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
black = "*"
autopep8 = "*"
v = {editable = true,version = "*"}

[packages]
django = "*"
djangorestframework = "*"
django-treenode = "*"
drf-nested-routers = "*"
httpie = "*"
django-cors-headers = "*"
django-environ = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
